variables:
  DOCKER_IMAGE: '$CI_REGISTRY_IMAGE'
  UNIQUE_TAG: '$CI_COMMIT_SHA'
  LATEST_TAG: 'latest'

stages:
  - build
  - push
  - deploy

build_image:
  stage: build
  image: docker:24
  services: [docker:dind]
  variables: { DOCKER_TLS_CERTDIR: '' }
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker build -t "$DOCKER_IMAGE:$UNIQUE_TAG" -t "$DOCKER_IMAGE:$LATEST_TAG" .
  only: [main]

push_image:
  stage: push
  needs: [build_image]
  image: docker:24
  services: [docker:dind]
  variables: { DOCKER_TLS_CERTDIR: '' }
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker push "$DOCKER_IMAGE:$UNIQUE_TAG"
    - docker push "$DOCKER_IMAGE:$LATEST_TAG"
  only: [main]

deploy:
  stage: deploy
  before_script:
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY_BASE64" | base64 -d > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - eval $(ssh-agent -s)
    - ssh-add ~/.ssh/id_rsa
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  script:
    - ssh -o BatchMode=yes $REMOTE_USER@$REMOTE_HOST "echo SSH connection successful"
    - scp -r ./* $REMOTE_USER@$REMOTE_HOST:$DEPLOY_PATH
    - ssh $REMOTE_USER@$REMOTE_HOST "cd $DEPLOY_PATH && docker compose up -d"
