variables:
  TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest
  TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHORT_SHA

stages:
  - publish
  - deploy

publish:
  image: docker:28.0.0-cli
  stage: publish
  services:
    - docker:28.0.0-dind
  script:
    - docker build -t $TAG_COMMIT -t $TAG_LATEST .
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker push $TAG_COMMIT
    - docker push $TAG_LATEST

deploy:
  image: alpine:latest
  stage: deploy
  script:
    - chmod og= $ID_RSA
    - apk update && apk add openssh-client
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "mkdir -p ~/digm-status-board"
    - "printf 'services:\n  app:\n    image: \"%s\"\\n' \"$TAG_COMMIT\" > docker-compose.override.yml"
    - scp -i $ID_RSA -o StrictHostKeyChecking=no docker-compose.yml $SERVER_USER@$SERVER_IP:~/digm-status-board/docker-compose.yml
    - scp -i $ID_RSA -o StrictHostKeyChecking=no docker-compose.override.yml $SERVER_USER@$SERVER_IP:~/digm-status-board/docker-compose.override.yml
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd ~/digm-status-board && (docker compose -f docker-compose.yml -f docker-compose.override.yml pull || docker-compose -f docker-compose.yml -f docker-compose.override.yml pull)"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd ~/digm-status-board && (docker compose -f docker-compose.yml -f docker-compose.override.yml up -d --remove-orphans || docker-compose -f docker-compose.yml -f docker-compose.override.yml up -d --remove-orphans)"
  environment:
    name: prod
    url: https://digmstatus.westphal.drexel.edu
  only:
    - main
